<!DOCTYPE html>
<html ng-app="myFilter">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="scripts/angular.js"></script>
</head>
<body>

    <!--Assignment 1 and 2-->
    <div ng-controller="uppercaseController">
        <p>
            Your filtered name is: {{firstName | uppercase}} {{lastName | uppercase}}
        </p>

        <p>
            Your new filtered number with two decimal places is {{result | number:2}}
        </p>
    </div>

    <!--Assignment 3-->
    <div ng-controller="orderbyController">
        <h3>Assignment 3 using order by filter to sort session names in array</h3>
        <p>
           <ul>
               <li ng-repeat="n in sessions | orderBy: 'name'">
                   {{n.name}} by  {{n.trainer}}
               </li>
           </ul>
        </p>
    </div>

    <!--Assignment 4-->
    <div ng-controller="customController">
        <input ng-model="greeting" type="text"><br>
        No filter: {{greeting}}<br>
        Reverse: {{greeting|reverse}}<br>
        Reverse + uppercase: {{greeting|reverse:true}}<br>
        Reverse, filtered in controller: {{filteredGreeting}}<br>
    </div>
 <script>

 var app = angular.module("myFilter", []);

     // Assignment 1: Upper case name letters using filter
     app.controller("uppercaseController", ["$scope", function ($scope) {
         $scope.firstName = "rahul gilati",
         $scope.lastName = "juniro"
         $scope.result = 4.557693;
     }]);

     //Assignment 3 Sort the Session array by name using order by: sort order filter.
     app.controller("orderbyController", ["$scope", function ($scope) {
         $scope.sessions = [
             { name: 'HTML', trainer: 'Peter K' },
             { name: 'CSS', trainer: 'Karthik J' },
             { name: 'PHP', trainer: 'Sam P' },
             { name: 'JavaScript', trainer: 'Nisha D' },
             { name: 'AJAX', trainer: 'Murthy KS' },
         ];
     }]);


     //Assignment 4 Create a custom filter to reverse text string
     // step 1 create a filter
     app.filter("reverse", function () {
         return function (input, uppercase) {
             input = input || '';
             var out = '';
             for (var i = 0; i < input.length; i++) {
                 out = input.charAt(i) + out;
             }
             if (uppercase) {
                 out = out.toUpperCase();
             }
             return out;
         };
     });

     // step 2 create  a controller
     app.controller('customController', ['$scope', 'reverseFilter', function ($scope, reverseFilter) {
         $scope.greeting = 'hello';
         $scope.filteredGreeting = reverseFilter($scope.greeting);
     }]);

</script>

</body>
</html>
